.ant-typography.title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ADAEB0;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin: 0;
}

.activity {
    border: 1px #CCCFD7 solid;
    border-radius: 8px;
    height: 118px;
    width: 234px;
    font-size: 12px;
    
}