.text-editor-container {
  background: #f0f2f5;
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  scrollbar-width: thin;
}

.text-editor-content-editable {
  font-family: "Roboto", sans-serif;
  padding: 0px 32px 70px 32px;
  min-height: 450px;
  width: 70vw;
  height: auto;
  margin: 0 auto;
  outline: none;
  border-radius: 8px;
  background: #f0f2f5;
  color: #000000d9;
}

.text-editor-content-editable::selection {
  background: #cadaf7;
  color: #000000d9;
}

.editor-heading-h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 16px;
}

.editor-heading-h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

.editor-heading-h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.editor-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-subscript {
  vertical-align: sub;
  font-size: 0.8em;
}

.editor-text-superscript {
  vertical-align: super;
  font-size: 0.8em;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-text-uppercase {
  text-transform: uppercase;
}

.editor-text-lowercase {
  text-transform: lowercase;
}

.editor-text-capitalize {
  text-transform: capitalize;
}

.listItem {
  margin: 0 32px;
  font-size: 14px;
}
.listItem::marker {
  color: var(--listitem-marker-color);
  background-color: var(--listitem-marker-background-color);
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
}
.listItemChecked,
.listItemUnchecked {
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  list-style-type: none;
  outline: none;
  display: block;
  min-height: 1.5em;
  text-align: left;
  line-height: 1.5em;
}
.listItemChecked > *,
.listItemUnchecked > * {
  margin-left: 0.01em;
}
.listItemUnchecked:before,
.listItemChecked:before {
  content: "\200B";
  width: 0.9em;
  height: 0.9em;
  top: 50%;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
  transform: translateY(-50%);
}
.listItemChecked {
  text-decoration: none;
}
.listItemUnchecked:focus:before,
.listItemChecked:focus:before {
  border-radius: 2px;
}
.listItemUnchecked:before {
  border: 1px solid #838790;
  border-radius: 2px;
  width: 14px;
  height: 14px;
}
.listItemChecked:before {
  border-radius: 2px;
  background-color: #045bff;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.listItemChecked:after {
  content: "";
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 45%;
  width: 4px;
  left: 0.4em;
  height: 8px;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0 2px 2px 0;
}
.nestedListItem {
  list-style-type: none;
}
.nestedListItem:before,
.estedListItem:after {
  display: none;
}
