.wrapper {
  width: 100vh;
  height: 56px;
  background-color: white;
  position: relative;
}

.arrows-wrapper {
  position: relative;
  top: 22px;
  left: 32px;
}

.arrows-wrapper-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.ant-breadcrumb {
  margin: 4px 0 18px 216px;
}
