.navigation-menu {
  width: 56px;
  height: calc(100vh - 72px);
  background-color: #2e323a;
  border-right: 1px solid rgb(255, 255, 255, 6%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.navigation-menu-nav {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.navigation-menu-nav-item {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(131, 135, 144, 1);
  transition: all 0.2s ease-in-out;
}

.navigation-menu-nav-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.active {
  color: rgba(4, 91, 255, 1);
  background-color: #cadaf7;
  border-radius: 4px;
}
